* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding:0;
	background-color:#f1eee4;	
	color:white;
	font-family: 'Recursive', sans-serif;
}
#body {
	position:absolute;
	left:10%;
	margin-left:-50px !important;
	font-size: 22px;
	display:block;
	vertical-align:center;
	font-weight:bold;
	font-family: 'Lemonada', cursive;
	padding:0;
	z-index:1;
}
#body a {
	text-decoration:none;
	color:#1b1811;
}
#body a:hover {
	color:maroon;
}
.navbar {
	margin-bottom:0;
	padding:0;
}
.nav-item {
 margin-right:40px;
 font-size:20px;
}
#nav-list {
	margin-top:10px;
}

#nav-list a{
	color:#951C49;
}

#nav-list a:hover{
	color:blue;
}
#nav-list a:active{
	background-color:#e9edf6;
}
i {
	color:blue;
}
/*END OF HEADER*/
.gallery {
	width:100%;
}
.row .gal {
	width:100%;
	padding:4px;
	height:100%;
}
.gallery img{
	margin:2%;
	text-align:center;
	width:100%;
	box-shadow:0 0 5px #3F0C1F;
	cursor:pointer;
	filter: grayscale(1) brightness(0.5);
	border-radius:5px;
	transition:0.3s linear;
}
.row .gal img:hover {
	filter: grayscale(0) brightness(1);
}
/*Slider*/
slide.{
	background-color: white;
	position: relative;
	width: 100%;
	height: 800px;
	overflow: hidden;
}
 .slider-inner{
	position: absolute;
	left: 0;
	top: 0;
	height: 800px;
 }
 .carousel-item img{
	 width:100%;
	 height:800px;
 }
 /*PROJECTS PAGE*/
 .project{
	 position:relative;
	 display:block;
	 vertical-align:center;
	 height:100%;
	 background-color: #4e4b4a;
	 margin-top:0;
 }
 .project-pic .row img {
		height:100%;
		width:100%;
 }
 .project-pic .row div{
	 margin-bottom:10px;
 }
/*FOOTER*/
footer{
		background-color:#1b1811;
		color:white;
		margin-top:5px;
		padding-top:35px;
		padding-bottom:35px;
		text-align:left;
}
 .sm{
	 text-align:center;
	 z-index:1;
 }
  .sm i{
	  margin:10px 10px;  
 }
 h3 a {
	 display:inline;
 }
	
@media only screen and (max-width:575px){
	
	#body {
		position:fixed;
		margin-left:60px !important;
		font-size: 14px;
		display:block;
		text-align:center;
		padding-top:10px;
	}
	/*MAIN PAGE*/
	#bg {
		position:fixed;
		width:220%;
		height:250%;
		padding:0;
		right:-70%;
		top:-2%;
	}
	/*body*/
	.gallery {
	display:block;
	margin:0 auto;
	width:100%;
   }
	.gallery .row .gal{
		flex:100%;
		border-radius:12px;
	}
	.gallery img{
	margin-bottom:20px;
	margin-left:10px;
	padding-left:35px;
	padding-right:35px;
	margin-right:10px;
	text-align:center;
	width:100%;
	cursor:pointer;
	filter: grayscale(0) brightness(1);
	border-radius:8px;
	transition:0.3s linear;
}

   /*Slider*/
   .slide{
	background-color: white;
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
	
	display:;
}
 .slider-inner{
	position: absolute;
	left: 0;
	top: 0;
	height: 400px;
 }
 .carousel-item img{
	 width:100%;
	 height:400px;
 }
  /*FOOTER*/
  footer h3{
	  font-size:16px;
  }
 .sm{
	 
	 text-align:center;
	 z-index:1;
   }
  .sm i{
	  margin:8px 8px;
	  font-size:17px;
	  
    }
		
}

@media (min-width:576px) and (max-width:767px){
	#body {
		position:fixed;
		margin-left:120px !important;
		font-size: 22px;
		display:block;
		text-align:center;
		padding-top:10px;
	}
	/*PROJECT*/
	.project{
		font-size:1em;
	}
	
	
	
	#bg {
	}
}

@media (min-width:768px) and (max-width:991px){
	#body {
		position:absolute;
		left:8%;
		margin-left:-50px !important;
		font-size: 20px;
		display:block;
		vertical-align:center;
		font-weight:bold;
		font-family: 'Lemonada', cursive;
		padding:0;
		padding-top:10px;
    }
	.nav-item {
	 margin-right:25px;
 	 font-size:18px;
   }
   /*PROJECT*/
	.project{
		font-size:2em;
	}
}

@media (min-width:992px) and (max-width:1199px){
	/*PROJECT*/
	.project{
		font-size:2em;
	}
}
@media (min-width:1200px){
	/*PROJECT*/
	.project{
		font-size:2em;
	}
}
